@import 'tailwindcss';

@theme {
  /* Figma'daki Ana Renkler */
  --color-brand-black: #000000;
  --color-brand-gray: #f0f0f0;
  --color-brand-text-muted: #606060;

  /* Font Tanımları */
  --font-integral: var(--font-integral-cf);
  --font-satoshi: var(--font-satoshi);
}

:root {
  font-family: var(--font-satoshi);
  background-color: white;
  color: black;
}
