@import 'tailwindcss';

@theme {
  /* Figma'daki Ana Renkler */
  --color-brand-black: #000000;
  --color-brand-gray: #f0f0f0;
  --color-brand-text-muted: #606060;

  /* Font Tanımları */
  --font-integral: var(--font-integral-cf);
  --font-satoshi: var(--font-satoshi);
}

/* Container yerine Figma'daki 1240px standardını koruyan sınıf.
  responsive şekilde kenarlardan boşluk bırakır ama 1240px'i geçmez.
*/
.frame {
  @apply max-w-310 mx-auto px-4 md:px-0;
}

:root {
  font-family: var(--font-satoshi), sans-serif;
  background-color: white;
  color: black;
}

.integral-text {
  font-family: var(--font-integral-cf), sans-serif;
}
